.header{
    width: auto;
    height: 178px;
    background-color: #74010B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3
}
.logoLoginPage{
    margin-left: 3rem;
}
.logoNotLoginPage {
    margin-left: 3rem;
    transition: 0.2s ease-in-out;
    
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}
.links{
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    gap:2rem;
    color:#FCF7F8;
    text-decoration: none;
    margin-left: 2.5rem;

}
.links a{
    color:#FCF7F8;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    
    &:hover{
        cursor: pointer;
        color:#4E8098;
    }
}
.perfil{
    display: flex;
    align-items: center;
    gap:1rem;
    margin-right: 3rem;
}
.perfil div img{
    cursor: pointer;
}
.perfil div{
    display: flex;
    align-items: center;
    gap:3px;
}
.perfil img{
    cursor: pointer;
}